/* tags */
.bgColor{
  background-color: #FF7F3F !important;
}
h1{
  text-align: center;
  padding-top: 5%;
  font-family: 'Monoton', cursive;
}
/* classes */
.green{
  background-color: green;
  border: solid 8px;
  border-radius: 20%;
  width: 50%;
  height: 18rem;
  margin: 5% auto;
}
.red{
  background-color: red;
  border: solid 8px;
  border-radius: 20%;
  width: 50%;
  height: 18rem;
  margin: 5% auto;
}
.yellow{
  background-color: yellow;
  border: solid 8px;
  border-radius: 20%;
  width: 50%;
  height: 18rem;
  margin: 5% auto;
}
.blue{
  background-color: blue;
  border: solid 8px;
  border-radius: 20%;
  width: 50%;
  height: 18rem;
  margin: 5% auto;
}
