@import url(https://fonts.googleapis.com/css?family=Denk+One);
*{
    margin: 0%;
    padding: 0%;
}
body{
    justify-content: center;
    text-align: center;
    margin: 0%;
    padding: 0%;
    background-color: black;
    overflow-x: hidden;
}
.navi{
    display: flex;
    flex-direction: row;
    float: left;
    width: 100%;
    background-color: aliceblue;
}
.navi a{
    text-decoration: none;
    padding: 1%;
    color: black;
    background-color: rgba(0, 0, 0, 0.26);
    border: 2px solid white;
}
.navi a:hover{
    color: white;
    background-color: black;
}
.navi a.active{
      background-color: transparent;   
}
.navi a.active:hover{
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}
#mystage{
    width: 100%;
    z-index: 0;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
#myvideo{
    z-index: 0;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
footer{
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: -5.4%;
    position: relative;
    z-index: 1;
}
#rights{
    border: 2px solid rgb(255, 255, 255);
    font-size: 99%;
    text-align: center;
    justify-content: center;
    font-family: 'Denk One', sans-serif;
    color: rgb(112, 248, 173);  
}
#container1{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    width: 100%;
    margin-top: 35%;
    margin-left: 0%;
}
#spotify{
    justify-content: center;
    margin-left: 30%;
     margin-top: 3%;
    }
.container{
    float: left;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: absolute;
    width: 100%;
    margin-top: 10%;
    margin-left: 0%;
}
.container img{
    border: 2px solid white;
    border-radius: 2%;
    padding: 1%;
    transition-duration: 3s;
    width: 30%;
}
.container img:hover{
    transform: rotateX(150deg);
    transform: rotateX(-150deg);
}
h1{
    color: white;
}
.text{
    float: left;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: absolute;
    width: 100%;
    margin-top: 3%;
    margin-left: 0%;
}
.text p{
    padding: 10%;
    font-size: 350%;
    color: rgb(88, 98, 241);
}
@media only screen and (max-width: 800px) {
        /* For mobile phones: */
body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: -40%;
    margin-left: 0%;
    justify-content: center;
    align-items: center;
}
.container img{
    border: 2px solid white;
    border-radius: 2%;
    padding: 3%;
    transition-duration: 3s;
     /* margin-left: 23%; */
     width: 70%;
     margin-top: 7%;
}
#spotify{
justify-content: center;
 margin-top: 3%;
}
.navi{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 16%;
    overflow-y: scroll ;
}

.navi a{
    text-decoration: none;
    padding: 2%;
    color: black;
    background-color: rgba(0, 0, 0, 0.26);
    border: 2px solid white;
    font-size: 100%;
}
h1{
    margin-top: 0%;
}
.text{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: -39%;
}
.text p{
    margin-top: 20%;
overflow-x: hidden;
overflow-y: hidden;
}
#mystage{
    width: 100%;
    margin-bottom: 0%;
    height: 170%;
    z-index: -1;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
}
#myvideo{
   z-index: -1;
   height: 200%;
   transform:scale(5.09)rotate(90deg);;
}
#container1{
    display: flex;
    flex-direction: column;
    margin-top: 210%;
    float: left;
}
hr{
width: 100vw;
}
footer{
    margin-top: 240%;
    float: bottom;
}
#rights{
    float: bottom;
}
}
