@import url(https://fonts.googleapis.com/css?family=Denk+One);
*{
    margin: 0%;
    padding: 0%;
}
#myvideo{
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
}
body{
    /* justify-content: center;
    text-align: center; */
    margin: 0%;
    padding: 0%;
    background-color: rgb(9, 142, 231);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.navi{
    z-index: 1;
    display: flex;
    /* overflow-x: hidden; */
    flex-direction: row;
    float: left;
    width: 100%;
    background-color: aliceblue;
}
.navi a{
    text-decoration: none;
    padding: 1%;
    color: black;
    background-color: rgba(0, 0, 0, 0.26);
    border: 2px solid white;
}
.navi a:hover{
    color: white;
    background-color: black;
}
.navi a.active{
      background-color: transparent;   
}
.navi a.active:hover{
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}
h1{
color: white;
z-index: 1;
justify-content: center;
text-align: center;
}
hr{
z-index: 1;
width: 100%;
}
.container1{
    justify-content: center;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: row;
    position: fixed;
}

.container .container1 img{
    border: 2px solid white;
    border-radius: 2%;
    padding: 1%;
    transition-duration: 3s;
    width: 30%;
    z-index: 2;
    justify-content: center;
    
}

.container img:hover{
    transform: rotateX(150deg);
    transform: rotateX(-150deg);
}
.container{
    float: left;
    display: flex;
    flex-direction: column;
    z-index: 1;
    /* position: absolute; */
    width: 100%;
    /* margin-top: 10%; */
}
.text{
    float: left;
    display: flex;
    flex-direction: row;
    z-index: 1;
    /* position: absolute; */
    width: 100%;
    margin-top: -5%;
    /* margin-left: 0%; */
    text-align: center;
    justify-content: center;
}
.text p{
    font-size: 250%;
    color: rgb(88, 98, 241);
    padding: 10%;
}
#h12{
margin-top: 5%;
color: rgb(0, 0, 0);
z-index: 1;
justify-content: center;
text-align: center;
}
footer{
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 10%;
    /* position: relative; */
    z-index: 1;
}
#rights{
    border: 2px solid rgb(255, 255, 255);
    font-size: 99%;
    text-align: center;
    justify-content: center;
    font-family: 'Denk One', sans-serif;
    color: rgb(112, 248, 173);  
}
@media only screen and (max-width: 800px) {
        /* For mobile phones: */
   /* body{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    } */
    #myvideo{
        z-index: -1;
        height: 200%;
        width: 500%;
        transform:scale(5.09)rotate(90deg);
        overflow-y: clip;
    }
    .navi{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        height:16%;
        background-color: aliceblue;
        overflow-y: scroll;
    }
    .container1{
        justify-content: center;
        margin-left: 30%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .text{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .text p{
        font-size: 125%;
        padding: 12%;
    }
    .container .container1 img{
        width: 60%;
    }
    #h12{
        margin-top: 15%;
    }
    /* .container1{
        margin-top: -20%;
        z-index: 2;
        display: flex;
        flex-direction: row;
    } */
}
